body{
  background-color: black;
  background-image: url(./Assets/dim.jpg);
}
.navhead{
  width: 100%;
  margin-top: 0;
  display: flex;
  align-items: center;
  padding: 3%;
  justify-content: space-between;
  align-items: end;
}

.netf{
  margin-top: 0;
  color: red;
  font-family: sans-serif;
}

.sgnin{
  color: bisque;
  background-color: red;
  font-family: sans-serif;
  border-radius: 50px;
}

.bboody{
  display: flex;
  justify-content: center;
}
.boody{
  text-align: center;
  color: white;
}

.p1{
  font-size: 50px;
  font-family: serif;
  font-weight: bold;
}

.sgnp{
  background-color: rgb(179, 44, 44);
  color: white;
  font-family: sans-serif;
}